A:link,A:active{font:9px verdana,sans-serif;color:#fff;font-weight:bold;text-decoration:none}A:visited{font:9px verdana,sans-serif;color:#fff;font-weight:bold;text-decoration:none}A:hover{font:9px verdana,sans-serif;color:#666;font-weight:bold;background-color:#e7eef4}A.ver10:link,A:active{font:10px verdana,sans-serif;color:#50aef6;font-weight:bold;text-decoration:none}A.ver10:visited{font:10px verdana,sans-serif;color:#50aef6;font-weight:bold;text-decoration:none}A.ver10:hover{font:10px verdana,sans-serif;color:#666;font-weight:bold;background-color:#6cf}A.ver9:link,A:active{font:9px verdana,sans-serif;color:#fff;font-weight:bold;text-decoration:none}A.ver9:visited{font:9px verdana,sans-serif;color:#999;font-weight:bold;text-decoration:none}A.ver9:hover{font:9px verdana,sans-serif;color:#fff;font-weight:bold;background-color:#000}BODY{font:9px verdana,sans-serif;color:#fff;font-weight:normal}TD,TH,.BOD,FONT{font:9px verdana,sans-serif;color:#fff;font-weight:normal}.text{font:9px verdana,sans-serif;color:#ccc;font-weight:normal}.name{font:9px verdana,sans-serif;color:#fff;font-weight:normal}.title{font:14px verdana,arial,helvetica,sans-serif;color:#ccc;font-weight:normal}.ver10{font:10px verdana,arial,helvetica,sans-serif;color:#fff}.ver9{font:9px verdana,arial,helvetica,sans-serif;color:#fff}.red{font:10px verdana,arial,helvetica,sans-serif;color:#f33}.subtle{font:9px verdana,arial,helvetica,sans-serif;color:#666}
/*
     FILE ARCHIVED ON 05:34:53 Oct 04, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:08:56 Oct 18, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.452
  exclusion.robots: 0.015
  exclusion.robots.policy: 0.007
  esindex: 0.009
  cdx.remote: 9.468
  LoadShardBlock: 157.962 (3)
  PetaboxLoader3.datanode: 81.399 (4)
  PetaboxLoader3.resolve: 88.604 (2)
  load_resource: 61.446
*/